html, body {
margin: 0;
padding: 0;
height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-image: url('background.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}
.container {
    background: linear-gradient(135deg, #ffffff, #f7f7f7);
    border: 1px solid #e0e0e0;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 50px;
    box-shadow: 0 80px 16px rgba(0,0,0,0.2);
    width: 400px;
    text-align: center;
    border-radius: 20px;
}
input[type="text"] {
    width: 80%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}
button {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #45a049;
}
h1, h2 {
    color: #333;
    margin-bottom: 30px;
}

.nav-toggle {
    position: fixed;
    top: 28px;
    right: 30px;
    cursor: pointer;
    z-index: 1000; /* ensure it's above everything */
    background: none;
    border: none;
}


.nav-toggle .bar1,
.nav-toggle .bar2,
.nav-toggle .bar3 {
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -250px; /* hidden by default */
    left:auto;
    width: 250px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding-top: 60px;
    transition: left 0.3s ease;
    z-index: 9;
}

.sidebar.active {
    right: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.sidebar ul li {
    padding: 15px 20px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}
